### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
target/authPrueba.war
target/authPrueba/index.html
target/authPrueba/WEB-INF/beans.xml
target/authPrueba/WEB-INF/classes/AutenticateUsers.yaml
target/authPrueba/WEB-INF/classes/uy/com/s4b/controller/OauthServletInit.class
target/authPrueba/WEB-INF/classes/uy/com/s4b/controller/RecepcionOauthServlet.class
target/authPrueba/WEB-INF/classes/uy/com/s4b/controller/UtilOAuth.class
target/authPrueba/WEB-INF/lib/annotations-13.0.jar
target/authPrueba/WEB-INF/lib/commons-codec-1.6.jar
target/authPrueba/WEB-INF/lib/commons-logging-1.1.3.jar
target/authPrueba/WEB-INF/lib/gson-2.10.jar
target/authPrueba/WEB-INF/lib/httpclient-4.3.1.jar
target/authPrueba/WEB-INF/lib/httpcore-4.3.jar
target/authPrueba/WEB-INF/lib/httpmime-4.3.1.jar
target/authPrueba/WEB-INF/lib/javax.annotation-api-1.3.2.jar
target/authPrueba/WEB-INF/lib/jsr305-3.0.2.jar
target/authPrueba/WEB-INF/lib/kotlin-stdlib-1.6.10.jar
target/authPrueba/WEB-INF/lib/kotlin-stdlib-common-1.6.10.jar
target/authPrueba/WEB-INF/lib/kotlin-stdlib-jdk7-1.6.10.jar
target/authPrueba/WEB-INF/lib/kotlin-stdlib-jdk8-1.6.10.jar
target/authPrueba/WEB-INF/lib/log4j-1.2.17.jar
target/authPrueba/WEB-INF/lib/logging-interceptor-4.10.0.jar
target/authPrueba/WEB-INF/lib/okhttp-3.9.0.jar
target/authPrueba/WEB-INF/lib/okio-1.13.0.jar
target/authPrueba/WEB-INF/lib/restfb-3.0.0.jar
target/authPrueba/WEB-INF/lib/swagger-annotations-1.6.9.jar
target/authPrueba/WEB-INF/templates/default.xhtml
target/classes/AutenticateUsers.yaml
target/classes/uy/com/s4b/controller/OauthServletInit.class
target/classes/uy/com/s4b/controller/RecepcionOauthServlet.class
target/classes/uy/com/s4b/controller/UtilOAuth.class
target/m2e-wtp/web-resources/META-INF/maven/uy.com.s4b.gestionseguridad/authPrueba/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/uy.com.s4b.gestionseguridad/authPrueba/pom.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
